@import url('htttps://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f4f5f3;

    justify-content: center;
    align-items: center;
    letter-spacing: 0.5px;

}
.menu{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 20px 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    right: 0;}
.menu a{
    text-decoration: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9999;
    padding: 0 20px;
    transition: 0.5s;
}
.menu a:hover{
    color: #8eb864;
}

